@use "./styles-utils.scss" as *;

.CreateApiKeyModal {
  &__description {
    color: var(--color-gray-60);
    margin-bottom: pxToRem(24);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);
  }
}
