@use "../../styles/styles-utils.scss" as *;

.TransactionNoticeCard {
  &__search {
    margin-bottom: pxToRem(16px);

    .Label {
      display: block;
      margin-bottom: pxToRem(8px);
    }
  }

  &__searchInput {
    max-width: 100%;
  }

  &__loading {
    margin-bottom: pxToRem(16px);
  }

  &__empty {
    margin-bottom: pxToRem(16px);
    padding: pxToRem(24px) pxToRem(24px) pxToRem(32px);
    background: var(--sds-clr-gray-01);
    border-radius: pxToRem(8px);
    border: 1px solid var(--sds-clr-gray-06);

    .Icon {
      width: pxToRem(32px);
      height: pxToRem(32px);
    }
  }

  &__table {
    margin-bottom: pxToRem(16px);

    .TransactionNoticeCard__cellWrap2 {
      .Table-v2__cell--fixedWidth,
      .Table-v2__cell--fixedWidth > * {
        white-space: normal;
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__notes {
    margin-bottom: pxToRem(16px);

    .Label {
      display: block;
      margin-bottom: pxToRem(8px);
    }
  }

  &__notesHelp {
    display: block;
    margin-top: pxToRem(8px);
    font-size: pxToRem(12px) !important;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
