@use "styles-utils.scss" as *;

.EditApiKeyModal {
  &__description {
    color: var(--sds-clr-gray-09);
    margin-bottom: pxToRem(24px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
  }
}
