@use "../../styles/styles-utils.scss" as *;

// Layout constants
$modal-max-height: 70vh;

.EditApiKeyModal {
  // LAYOUT & STRUCTURE
  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: $modal-max-height;
  }

  &__description {
    color: var(--sds-clr-gray-09);
    margin-bottom: pxToRem(24px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
  }
}
