@use "./styles-utils.scss" as *;

.ApiKeySuccessModal {
  &__header {
    display: flex;
    align-items: center;
    gap: pxToRem(8);
  }

  &__successIcon {
    color: var(--color-green-60);
  }

  &__keyContainer {
    position: relative;
    margin-bottom: 1rem;

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: pxToRem(44);
      width: pxToRem(100);
    }
  }

  &__keyInput {
    height: 44px;
    font-family: monospace;
    outline: none;
  }
}
