.EmptyStateMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--sds-clr-gray-09);

  &--stacked {
    flex-direction: column;
    gap: 8px;
    text-align: center;

    .EmptyStateMessage__title {
      font-weight: 600;
      color: var(--sds-clr-gray-09);
    }

    .EmptyStateMessage__description {
      font-weight: 400;
      color: var(--sds-clr-gray-09);
      font-size: 0.875rem;
    }
  }
}
