@use "../../styles/styles-utils.scss" as *;

.EmptyStateMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: pxToRem(8px);
  color: var(--sds-clr-gray-09);

  &--stacked {
    flex-direction: column;
    gap: pxToRem(8px);
    text-align: center;

    .EmptyStateMessage__title {
      font-weight: var(--sds-fw-semi-bold);
      color: var(--sds-clr-gray-09);
    }

    .EmptyStateMessage__description {
      font-weight: var(--sds-fw-regular);
      color: var(--sds-clr-gray-09);
      font-size: pxToRem(14px);
    }
  }
}
