@use "../../styles/styles-utils.scss" as *;

.WalletCard {
  display: flex;
  flex-direction: column;
  padding: pxToRem(24px);
  height: 100%;

  &__title {
    margin-top: pxToRem(-16px);
  }

  &__ExternalLink {
    display: flex;
    line-height: pxToRem(26px);
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: pxToRem(10px) 0;
    gap: pxToRem(8px);

    &__label {
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      font-weight: var(--sds-fw-medium);
      color: var(--sds-clr-gray-09);
      display: flex;
      align-items: center;
      gap: pxToRem(5px);
    }

    &__value {
      font-size: pxToRem(14px);
      font-weight: var(--sds-fw-regular);
      color: var(--sds-clr-gray-12);
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  &__icon {
    width: pxToRem(24px);
    height: pxToRem(24px);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--sds-clr-gray-01);
    border: 1px solid var(--sds-clr-gray-06);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: pxToRem(12px);
    font-weight: var(--sds-fw-bold);
    color: var(--sds-clr-gray-11);
  }

  &__walletData {
    border-top: 1px solid var(--sds-clr-gray-04);
    padding-top: pxToRem(16px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);
  }

  &--flexCols {
    display: flex;
    gap: pxToRem(4px);
  }
}

.ExternalLinkIcon {
  color: var(--sds-clr-gray-09);
  width: pxToRem(14px);
  height: pxToRem(14px);
  cursor: pointer;
}
