@use "styles-utils.scss" as *;

&__section {
  display: flex;
  flex-direction: column;
  gap: pxToRem(12px);
  padding: pxToRem(16px);
  border: 1px solid var(--sds-clr-gray-03);
  border-radius: pxToRem(6px);
  background-color: var(--sds-clr-gray-01);
}

&__sectionTitle {
  font-weight: 600;
  font-size: pxToRem(14px);
  color: var(--sds-clr-gray-11);
  margin-bottom: pxToRem(8px);
}

&__error {
  display: block;
  color: var(--sds-clr-red-11);
  font-size: pxToRem(12px);
  font-weight: 400;
  margin-top: pxToRem(4px);
}

&__fieldWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows ease-in-out 300ms;

  &--visible {
    grid-template-rows: 1fr;
  }

  & > div {
    overflow: hidden;
  }
}

&__selectedReceiver {
  margin-top: pxToRem(8px);
  padding: pxToRem(12px);
  background-color: var(--sds-clr-gray-01);
  border: 1px solid var(--sds-clr-gray-03);
  border-radius: pxToRem(4px);
  font-size: pxToRem(12px);
  color: var(--sds-clr-gray-09);
  line-height: pxToRem(18px);

  &__item {
    display: flex;
    align-items: center;
    gap: pxToRem(4px);

    &:not(:last-child) {
      margin-bottom: pxToRem(4px);
    }
  }

  &__label {
    font-weight: 500;
    color: var(--sds-clr-gray-10);
  }
}
