@use "../../styles/styles-utils.scss" as *;

.PresetAssetRow {
  display: flex;
  align-items: center;
  gap: pxToRem(8px);
  margin-bottom: pxToRem(16px);
  padding: pxToRem(6px) pxToRem(10px);
  border-radius: pxToRem(4px);

  &:hover {
    background-color: var(--sds-clr-gray-01);
    cursor: pointer;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  &__asset {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: pxToRem(4px);
    min-width: 0; // Allow flex child to shrink below content size

    &__info {
      display: flex;
      flex-direction: column;
      gap: pxToRem(4px);
      font-size: pxToRem(14px);
      line-height: pxToRem(22px);
      font-weight: var(--sds-fw-regular);
      color: var(--sds-clr-gray-12);
      min-width: 0; // Allow flex child to shrink below content size

      span {
        color: var(--sds-clr-gray-09);
        font-size: pxToRem(12px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
      }
    }
  }
}