@use "../../styles/styles-utils.scss" as *;

.PresetAssetRow {
  display: flex;
  align-items: center;
  gap: pxToRem(8px);
  padding: pxToRem(6px) 0;
  border-radius: pxToRem(4px);
  width: 100%;

  &:hover {
    background-color: var(--sds-clr-gray-01);
    cursor: pointer;
  }

  &[data-is-disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  &__asset {
    flex: 1;
    min-width: 0; // Allow flex child to shrink below content 

    span {
      color: var(--sds-clr-gray-09);
      font-size: pxToRem(12px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
    }

    div {
      font-size: pxToRem(14px);
      line-height: pxToRem(22px);
      font-weight: var(--sds-fw-regular);
      color: var(--sds-clr-gray-12);
    }
  }
}