@use "sass:math";

// Breakpoints (aligned with @stellar/design-system)
$sds-bp-sm: 480px;
$sds-bp-md: 600px;
$sds-bp-lg: 800px;
$sds-bp-xl: 900px;

// Convert px to rem
$base-font-size: 16px;

@function removePxUnit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function pxToRem($pxValue) {
  @return #{math.div(removePxUnit($pxValue), removePxUnit($base-font-size))}rem;
}
