@use "styles-utils.scss" as *;

.Notification {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: pxToRem(12px);
    margin-top: pxToRem(8px);

    .Link--primary {
      --Link-color-default: var(--sds-clr-gray-12);
      --Link-color-hover: var(--sds-clr-gray-11);
      --Link-color-disabled: var(--sds-clr-gray-10);
    }
  }
}
