@use "styles-utils.scss" as *;

.CsvPreview {
  max-height: pxToRem(400px);
  overflow: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;

    th,
    td {
      font-size: pxToRem(8px);
      line-height: 1;
      color: var(--sds-clr-gray-12);
      font-weight: var(--sds-fw-regular);
      padding: 0 pxToRem(8px);
      border: 1px solid var(--sds-clr-gray-08);
      box-sizing: border-box;
      height: pxToRem(16px);
    }

    th {
      background-color: var(--sds-clr-gray-05);
    }

    td {
      background-color: var(--sds-clr-gray-01);
    }

    th:first-child,
    td:first-child {
      padding-left: pxToRem(4px);
      padding-right: pxToRem(4px);
    }
  }
}
