@use "../../styles/styles-utils.scss" as *;

.EmbeddedWalletDismissibleNotice {
  &__content {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
  }

  &__dismiss {
    align-self: flex-start;
  }
}
