@use "./styles-utils.scss" as *;

.ApiKeysTable {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__emptyState {
    display: flex;
    flex-direction: column;
    padding: pxToRem(48) pxToRem(24);
    text-align: center;
    gap: pxToRem(8);
  }

  &__actionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__keyName {
    font-weight: 500;
  }
}

.StatusCell {
  font-weight: 500;

  &[data-status="active"] {
    color: var(--color-green-60);
  }

  &[data-status="expired"] {
    color: var(--color-red-60);
  }
}
