@use "styles-utils.scss" as *;

.FileUpload {
  background-color: var(--sds-clr-gray-02);
  border: 1px solid var(--sds-clr-gray-04);
  border-radius: pxToRem(4px);
  padding: pxToRem(16px);
  transition:
    border-color var(--sds-anim-transition-default),
    background-color var(--sds-anim-transition-default);

  &--active {
    background-color: var(--sds-clr-gray-03);
    border: 1px dashed var(--sds-clr-gray-08);
  }

  &--disabled {
    background-color: var(--sds-clr-red-03);
    border: 1px dashed var(--sds-clr-red-08);
  }

  &__button {
    flex-shrink: 0;
  }

  &__message {
    font-size: pxToRem(12px);
    line-height: pxToRem(20px);
    font-weight: var(--sds-fw-regular);
    color: var(--sds-clr-gray-09);

    &--error {
      color: var(--sds-clr-red-09);
    }
  }
}
