@use "styles-utils.scss" as *;

.SearchInput {
  width: 100%;
  height: pxToRem(28px);
  position: relative;

  &__button {
    position: absolute;
    width: pxToRem(32px);
    height: pxToRem(28px);
    top: 1px;
    right: 1px;
    border: none;
    border-top-right-radius: pxToRem(4px);
    border-bottom-right-radius: pxToRem(4px);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sds-clr-gray-11);
    transition: color var(--sds-anim-transition-default);

    svg {
      width: pxToRem(14px);
      height: pxToRem(14px);
      stroke: currentColor;
    }

    &:hover {
      color: var(--sds-clr-gray-10);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--sds-clr-gray-09);
    }
  }

  .Input input {
    padding-right: pxToRem(34px);

    &[type="search"] {
      outline-offset: 0;
    }
  }
}
