@use "styles-utils.scss" as *;

.DropdownMenu {
  display: flex;
  flex-direction: column;
  gap: pxToRem(4px);
  padding: pxToRem(4px);

  &__item {
    display: block;
    width: pxToRem(168px);
    padding: pxToRem(4px) pxToRem(8px);
    border-radius: pxToRem(4px);
    background-color: var(--sds-clr-gray-01);
    text-decoration: none;
    color: var(--sds-clr-gray-12);
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
    font-weight: var(--sds-fw-medium);
    transition: all var(--sds-anim-transition-default);
    cursor: pointer;

    &--highlight {
      color: var(--sds-clr-red-09);

      &[aria-disabled="true"] {
        color: var(--sds-clr-red-08);
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--sds-clr-gray-03);

        &[aria-disabled="true"] {
          background-color: var(--sds-clr-gray-02);
        }
      }
    }

    &--current {
      background-color: var(--sds-clr-gray-03);
      cursor: default;
    }

    &[aria-disabled="true"] {
      cursor: not-allowed;
    }
  }
}
