@use "styles-utils.scss" as *;

.DisbursementDetailsFields {
  &__inputs {
    margin-top: pxToRem(16px);
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(24px);

    & > * {
      flex: 1 1 45%;
    }
  }

  &__value {
    font-size: pxToRem(12px);
    line-height: pxToRem(20px);
    color: var(--sds-clr-gray-11);
    font-weight: var(--sds-fw-medium);
    margin-top: pxToRem(4px);
  }

  &__negative {
    color: var(--sds-clr-red-11);
  }
}
