@use "styles-utils.scss" as *;

.Table-v2__container {
  width: 100%;
  position: relative;

  &--loading {
    pointer-events: none;

    .Table-v2__wrapper {
      opacity: var(--opacity-disabled-button);
    }

    .Loader {
      --Loader-color: var(--sds-clr-gray-09);
      --Loader-size: 2rem;

      position: absolute;
      top: 2rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.Table-v2__wrapper {
  opacity: 1;
  transition: opacity var(--sds-anim-transition-default);

  &[data-scrollable="true"] {
    overflow-x: auto;
  }
}

table.Table-v2 {
  width: 100%;
  border-collapse: collapse;

  thead tr,
  tr:not(:last-child) {
    border-bottom: 1px solid var(--sds-clr-gray-04);
    transition: background-color var(--sds-anim-transition-default);

    &.Table-v2__row--highlighted {
      background-color: var(--sds-clr-gray-02);
    }
  }

  th,
  td {
    box-sizing: content-box;
    padding-top: pxToRem(12px);
    padding-bottom: pxToRem(12px);
    padding-right: pxToRem(24px);

    &:first-child {
      padding-left: pxToRem(24px);
    }

    // To truncate long text
    & > * {
      max-width: 100%;
    }
  }

  th {
    font-size: pxToRem(12px);
    line-height: pxToRem(20px);
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-09);
    text-align: left;
    white-space: nowrap;

    .Table-v2__header__cell {
      display: flex;
      gap: pxToRem(3px);
      align-items: center;

      &[role="button"] {
        cursor: pointer;
        transition:
          color var(--sds-anim-transition-default),
          fill var(--sds-anim-transition-default);

        @media (hover: hover) {
          &:hover {
            color: var(--sds-clr-gray-);

            .Table-v2__header__cell__sortIcon svg {
              stroke: var(--sds-clr-gray-12);
            }
          }
        }
      }

      svg {
        display: block;
        stroke: currentColor;
        width: pxToRem(12px);
        height: pxToRem(12px);
      }

      &__sortIcon {
        display: block;
        position: relative;
        width: pxToRem(16px);
        height: pxToRem(20px);

        svg {
          width: 100%;
          stroke: currentColor;
          position: absolute;
          left: 0;
          transition: fill var(--sds-anim-transition-default);

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            bottom: 0;
          }
        }
      }
    }

    &[data-text-align="right"] {
      text-align: right;

      .Table-v2__header__cell {
        justify-content: flex-end;
      }
    }

    &[aria-sort="ascending"],
    &[aria-sort="descending"] {
      color: var(--sds-clr-gray-12);
    }

    &[aria-sort="ascending"] {
      .Table-v2__header__cell__sortIcon {
        svg:nth-child(2) {
          stroke: var(--sds-clr-gray-09);
        }
      }
    }

    &[aria-sort="descending"] {
      .Table-v2__header__cell__sortIcon {
        svg:nth-child(1) {
          stroke: var(--sds-clr-gray-09);
        }
      }
    }
  }

  td {
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
    font-weight: var(--sds-fw-regular);
    color: var(--sds-clr-gray-12);

    &[data-text-align="right"] {
      text-align: right;
    }

    &[data-wrap="true"] {
      word-break: break-all;

      .Link {
        flex-wrap: wrap;
      }
    }

    .Table-v2__cell--fixedWidth,
    .Table-v2__cell--fixedWidth > * {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .Table-v2__cell--fixedWidth--allowOverflow,
    .Table-v2__cell--fixedWidth--allowOverflow > * {
      overflow: visible;
    }
  }
}
