@use "../../styles/styles-utils.scss" as *;

.EmbeddedWalletAssetLogo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--sds-clr-gray-06);
  background: var(--sds-clr-gray-01);
  flex-shrink: 0;
  box-sizing: border-box;

  &[data-size="sm"] {
    width: pxToRem(20px);
    height: pxToRem(20px);
  }

  &[data-size="md"] {
    width: pxToRem(32px);
    height: pxToRem(32px);
  }

  &[data-size="lg"] {
    width: pxToRem(40px);
    height: pxToRem(40px);
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  .Avatar {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
  }

  .Avatar__initials {
    font-weight: var(--sds-fw-semi-bold);
    line-height: 1;
  }

  &[data-size="sm"] .Avatar__initials {
    font-size: pxToRem(10px);
    transform: translateY(0);
  }

  &[data-size="md"] .Avatar__initials {
    font-size: pxToRem(14px);
    transform: translateY(1px);
  }

  &[data-size="lg"] .Avatar__initials {
    font-size: pxToRem(18px);
    transform: translateY(1px);
  }
}
