@use "../../styles/styles-utils.scss" as *;

.ReceiverInviteMessage {
  &__options {
    .RadioButton {
      --RadioButton-font-size: #{pxToRem(14px)};
    }

    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);

    &__charCount {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: pxToRem(8px);
      font-size: pxToRem(10px);
      color: var(--sds-clr-gray-09);
      margin-top: pxToRem(-12px);  // Reduce top spacing
      margin-bottom: pxToRem(-8px); // Reduce bottom spacing
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: pxToRem(8px);
    }
  }

  .Note {
    margin-top: 0;
  }
}
