@use "./styles-utils.scss" as *;

.ValuesList {
  list-style: none;
  display: grid;
  padding: 0.5rem 1.5rem;
  grid-template-columns: 1fr 1fr;

  &__item {
    color: var(--color-gray-90);
    font-size: pxToRem(14);
    padding: pxToRem(8) 0;
  }

  &__empty {
    color: var(--color-gray-60);
    font-size: pxToRem(14);
  }

  &--monospace {
    .ValuesList__item {
      font-family: var(--font-family-monospace);
    }
  }
}